/* Base styles and CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-deca: "Lexend Deca", sans-serif;
  --font-shoulder: "Big Shoulders", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --light-grey: hsl(0, 0%, 95%);
}

body {
  font-family: var(--font-deca);
  font-weight: var(--fw-regular);

  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.card-container {
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  padding: 3rem;
}

.sedan-card {
  background-color: var(--orange);
}

.suv-card {
  background-color: var(--dark-cyan);
}

.luxury-card {
  background-color: var(--very-dark-cyan);
}

.card figure {
  margin-bottom: 2.25rem;
}

.card h2 {
  font-family: var(--font-shoulder);
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  color: var(--light-grey);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.card p {
  font-size: 0.9375rem;
  line-height: 1.6;
  color: var(--paragraph);
  margin-bottom: 1.5rem;
}

.card a.btn {
  display: inline-block;
  border-radius: 999px;
  border: 2px solid transparent;
  padding: 0.75rem 2rem;
  background: var(--light-grey);

  font-size: 0.9375rem;
  line-height: 1.6;
  text-decoration: none;

  transition: all 260ms ease-in;
}

.card a.btn:hover {
  background: none;
  border-color: var(--light-grey);
  color: var(--light-grey);
}

.sedan-card a.btn {
  color: var(--orange);
}

.suv-card a.btn {
  color: var(--dark-cyan);
}

.luxury-card a.btn {
  color: var(--very-dark-cyan);
}

@media (min-width: 992px) {
  body {
    padding: 1.5rem;
  }

  .container {
    max-width: 928px;
  }

  .card-container {
    flex-direction: row;
  }

  .card p {
    margin-bottom: 5rem;
  }

  .sedan-card {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .luxury-card {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
